@import "//fast.fonts.net/cssapi/d645cd83-c955-4277-a114-11f6324025d4.css";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Custom Site Styles */

/* ========== Base Styles ========== */

html {
  /*
    Use the text-size-adjust property
    to prevent automatically inflating
    text on orientation changes
    (portrait to landscape on a phone,
    for example):
  */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /*
    Major Third Modular Scale
    http://www.modularscale.com/?19&px&1.25
  */
  font-size: 1.1875em; /* 19 / 16px */
  line-height: 1.1578947368em; /* 22 / 19px = 1.1578947368 */
  font-family: "Camphor W04", Verdana, Helvetica, Arial, sans-serif;
  background-color: #EEE;
  color: #222;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}
h3 {
  font-size: 1.25em; /* 23.75 / 19 = 1.25 */
  line-height: 1.3894736842em; /* 33 / 23.75 = 1.3894736842 */
}
h4 {
  font-size: 0.8em; /* 15.2px / 19px */
  line-height: 1.4473684211em; /* 22 / 15.2px = 1.4473684211 */
  padding-bottom: 0.7236842105em; /* 11 / 15.2 = 0.7236842105 */
  text-transform: uppercase;
}

p {
  padding-bottom: 1.1578947368em;
}

ul {
  list-style-type: circle;
}
ol {
  counter-reset: enum;
}
ol, ul, li {
  padding-bottom: 0.5789473684em; /* 11 / 19 = 0.5789473684 */
}

ol ol,
ol ul,
ul ul,
ul ol {
  padding-top: 0.5789473684em; /* 11 / 19 = 0.5789473684 */
  padding-bottom: 0;
}

li ol {
  padding-left: 1.1578947368em; /* 22 / 19px = 1.1578947368 */
}

ol > li::before {
  counter-increment: enum;
  content: counter(enum) ". ";
  position: absolute;
  margin-left: -1.1578947368em; /* 22 / 19px = 1.1578947368 */
}

a {
  color: #666;
}
b, strong {
  font-weight: bold;
}
cite, em, i {
  font-style: italic;
}
code {
  font-family: Menlo, Monaco, "Droid Sans Mono", Courier, "Courier New", monospace;
  font-size: 0.85em;
  background: #DDD;
}

header small {
  display: block;
}

/* Layout Styles */
#header {
  position: relative;
  padding-top: 3.4736842105em; /* 66 / 19 = 3.4736842105 */
}
#header small,
#nav-menu a {
  display: block;
  position: absolute;
  top: 0;
  left: 0.5789473684em; /* 11 / 19 = 0.5789473684 */
  padding-top: 0.5789473684em; /* 11 / 19 = 0.5789473684 */
  padding-bottom: 0.5789473684em; /* 11 / 19 = 0.5789473684 */
  font-weight: bold;
}
#nav-menu a {
  left: auto;
  right: 0.5789473684em; /* 11 / 19 = 0.5789473684 */
  font-weight: normal;
  text-transform: uppercase;
}
#header,
#content,
#links,
#instructor,
#footer {
  padding-left: 1.7368421053em; /* 33 / 19 (one and a half lead) */
  padding-right: 1.1578947368em;
}


/* Modular Styles */
#header a {
  text-decoration: none;
}

#content h2 {
  font-weight: normal;
  font-size: 1.9531052632em; /* 37.109 / 19 = 1.9531052632 */
  line-height: 1.1856961923em; /* 44 / 37.109 = 1.1856961923 */
  padding-bottom: 0.5928480961em; /* 22 / 37.109 = 0.5928480961 */
}
.assigned h3 {
  font-size: inherit;
  line-height: inherit;
}
.assigned header {
  padding-bottom: 0.5789473684em; /* 11 / 19 = 0.5789473684 */
}
#policies h3,
#links h3,
#instructor h3 {
  padding-bottom: 0.4631578947em; /* 11 / 23.75 = 0.4631578947 */
}
h3 + small {
  padding-bottom: 0.5789473684em; /* 11 / 19 = 0.5789473684 */
}



.tagline,
.note,
#footer p {
  font-size: 0.8em; /* 15.2px / 19px */
  line-height: 1.4473684211em; /* 22 / 15.2px = 1.4473684211 */
  padding-bottom: 1.4473684211em;
}

.nav,
.agenda,
.assignments {
  list-style-type: none;
}

.nav a {
  display: block;
  padding: 0.2894736842em; /* 5.5 / 19 = 0.2894736842em */
  text-align: center;
  background: #DDD;
}

.agenda ol,
.assignments ol {
  padding-left: 0;
  padding-top: 0;
}

.meeting::before {
  content: "";
}
